name: build
on: [push]
jobs:
  linux:
    runs-on: ubuntu-16.04
    steps:
    - uses: actions/checkout@v2
    - name: depends
      run: sudo apt install libboost-filesystem-dev libboost-program-options-dev
    - name: build
      run: cmake -B build && cmake --build build
    - uses: actions/upload-artifact@v1
      with:
        name: supersm-linux-amd64
        path: ./build/supersm

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: depends
      run: brew install boost
    - name: build
      run: cmake -B build && cmake --build build
    - uses: actions/upload-artifact@v1
      with:
        name: supersm-macos
        path: ./build/supersm

  windows:
    runs-on: windows-latest
    steps:
    - uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        install: >-
          mingw-w64-x86_64-boost
          mingw-w64-x86_64-cmake
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-make
    - uses: actions/checkout@v2
    - name: build
      shell: msys2 {0}
      working-directory: ./
      run: cmake -B build -G "MinGW Makefiles" && cmake --build build
    - uses: actions/upload-artifact@v1
      with:
        name: supersm-windows
        path: ./build/supersm.exe

